.background {background-color: var(--scoutteal)}
.label {font-weight: 600; width: 100px}
.name {font-weight: 600; color: white; font-size: 1.5em}
.headercard {color: white; background-color: var(--scoutpurple)}
.cardhead {color: var(--scoutpurple); font-weight: 600; font-size:1.2em}