.dashboard {font-size: 1.5em; padding-right: 10px}
.subhead {font-weight:600; margin: 0px;}
.green {color: var(--scoutgreen)}
.amber {color: var(--scoutyellow)}
.red {color: var(--scoutred)}
.mandatoryh {color:white; background-color:black;}
.mandatory {color:black; background-color:white;}
.headercard {color: white; background-color: var(--scoutpurple)}
.background {background-color: var(--scoutteal)}
.pulse {animation: pulse 2s  }
.carddue {background-color:var(--scoutyellow)}
.cardoverdue {background-color:var(--scoutred); color: white;}
.trainingcard {font-weight: 600}
.pulsered {animation: pulsered 2s infinite }
@keyframes pulsered {
	0% {
		transform: scale(0.7);
	}

 
70% {
		transform: scale(1);
	 
	}
   
	100% {
		transform: scale(0.7);
	 
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.5);
	 
	}

	 
70% {
		transform: scale(1);
	 
	}
  90% {
		transform: scale(1.1);
	 
	}
	100% {
		transform: scale(1);
	 
	}
}