
<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Mandatory Training</div>
</ons-toolbar>
<div class="content">
  
  <app-roleheader [role]="selected_role"></app-roleheader>
  <app-mandatoryheader [role]="selected_role"></app-mandatoryheader>
  <ons-card class="trainingcard" *ngFor="let train of mandlist" [ngClass]="{'carddue':train.status==2,'cardoverdue':train.status==1,'cardok':train.status==3}">
    <span *ngIf="train.mandCode=='FA'"><ons-icon icon="fa-comment-medical" class="dashboard"></ons-icon></span>
    <span *ngIf="train.mandCode=='SG'"><ons-icon icon="fa-shield-alt" class="dashboard"></ons-icon></span>
    <span *ngIf="train.mandCode=='SA'"><ons-icon icon="fa-exclamation-triangle" class="dashboard"></ons-icon></span>
    <span *ngIf="train.mandCode=='GDPR'"><ons-icon icon="fa-briefcase" class="dashboard"></ons-icon></span>
    {{train.linkedModuleLabel}}  
    <span *ngIf='train.status!=1&&train.expired!=""'>expires </span>
    <span *ngIf='train.status!=1&&train.expired==""'>completed {{globals.months[train.monthnumber-1]}} {{train.expired.substring(0,4)}}  </span>
    <span *ngIf='train.status==1&&train.expired!=""'>expired in </span>
    <span *ngIf='train.status==1&&train.expired==""'>not Completed</span>
    <span *ngIf='train.expired!=""'>{{globals.months[train.monthnumber-1]}} 
      {{train.expired.substring(0,4)}}</span> 
    
  </ons-card>
	<br />
    </div>