
<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Mandatory Trainin</div>
</ons-toolbar>
<div class="content">
  
  <ons-card class="headercard"><p class="subhead">{{selected_role.title}}<br>{{selected_role.location}}</p>since {{selected_role.datefrom.substring(0,4)}}</ons-card>
  <ons-card class="mandatory" [ngClass]="{'mandatoryh':highman,'mandatory':!highman}">
  <p class="subhead">Mandatory Training&nbsp;
  <ons-icon icon="fa-exclamation-triangle" class="dashboard" [ngClass]="{'amber pulse':sf=='du','red pulsered':sf=='od','green':sf=='ok'}"></ons-icon>
 
  <ons-icon icon="fa-shield-alt" class="dashboard" [ngClass]="{'amber pulse':sg=='du','red pulsered':sg=='od','green':sg=='ok'}"></ons-icon>
    
  <ons-icon icon="fa-briefcase" class="dashboard" [ngClass]="{'amber pulse':gd=='du','red pulsered':gd=='od','green':gd=='ok'}"></ons-icon>

  <ons-icon icon="fa-comment-medical" class="dashboard" [ngClass]="{'amber pulse':fa=='du','red pulsered':fa=='od','green':fa=='ok'}"></ons-icon></p>
  </ons-card > 
  <ons-card *ngFor="let train of globals.compassdata.object.mandate">
    {{train.linkedModuleLabel}} {{train.expiry}} 
  </ons-card>
	<br />
    </div>