<div class="background"></div>
<ons-toolbar>
	<div class="center">
	 Leader Journey
	</div>
	<div class="right menu_sel">
		<ons-toolbar-button (click)="openMenu()">
		<!--	<ons-icon icon="fa-bars"></ons-icon>-->
		</ons-toolbar-button>
	</div>
</ons-toolbar>
<div class="content">
	<h2 class="appheader">Welcome</h2>
	<div style="text-align: center">
		<br>
       <!-- <ons-button (click)="push()">
          Push Page
        </ons-button> -->
  </div>
  <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Logon using your Compass account
  </p>
      
  <div id="1" style="text-align: center"  > 
   <form>
 
 <p>
    
      <ons-input  id="c"  modifier="underbar" placeholder="Username" float #username (keyup.enter)="validate(username.value,password.value)" (blur)="validate(username.value,password.value)"></ons-input>
    </p>
    
    <p>
      <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float (keyup.enter)="logon(username.value,password.value)" (keydown.tab)="logon(username.value,password.value)"  #password></ons-input>
    </p>
     
  </form>
    <div id="error">{{error_text}}</div>
    <p style="margin-top: 30px;">
      <ons-button *ngIf="validate2(username.value,password.value)==true" (click)="logon(username.value,password.value)">Sign in</ons-button>
      <ons-button *ngIf="validate2(username.value,password.value)==false" (click)="logon(username.value,password.value)" disabled>Sign in</ons-button>

    </p><br>
    <ons-button  class="ql" (click)="show_cards()" ><ons-icon class="far menuicon" icon="fa-map"></ons-icon>&nbsp;Cards</ons-button>&nbsp;
    <ons-button  class="ql" (click)="post_logon([0])" ><ons-icon class="fa menuicon" icon="fa-dice-d6"></ons-icon>&nbsp;Test Data</ons-button>
    <!--<ons-button class="ql" (click)="show_cards()" ><ons-icon class="menuicon" icon="fa-project-diagram"></ons-icon></ons-button>-->
  
   <div id="version">Version {{globals.version}}</div>
   
 <!--<ons-input  id="u"  modifier="underbar" placeholder="url" float [value]="globals.url"></ons-input>--> 
    
    </div>
    <ons-modal  id="modal">
    
      <ons-icon icon="fa-compass" spin="true" size="80px" class="far"></ons-icon>
    
    <p>Logging you on </p>
  </ons-modal>
      <ons-modal  id="modald">
    
      <ons-icon icon="fa-compass" spin="true" size="80px" class="far pulsered"></ons-icon>
    
    <p>Getting your Roles</p>
  </ons-modal>