<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">My Training</div>
</ons-toolbar>
<div class="content">
   <div class="sticky"> 
  <ons-card>
      <span  *ngFor="let role of globals.compassuser[0].roles; let i=index">
        <span *ngIf="i>0" class="indicators">○</span>
        <span *ngIf="i==0" class="indicators">●</span>
      </span>
  </ons-card>
 </div>
  <ons-carousel  swipeable auto-scroll id="carousel">
<ons-carousel-item   *ngFor="let role of globals.compassuser[0].roles">
 <!--  <ons-scroller>-->
  <div class="hc"></div>
  <ons-card class="headercard">
    {{role.role}}
  </ons-card>  
  <ons-card *ngFor="let plpline of globals.compassuser[0].training[role.roleid]">
    <span *ngIf="plpline.validated_on!=''"> <ons-icon icon="fa-check-circle" class="green"></ons-icon></span>
  <span *ngIf="plpline.validated_on==''"> <ons-icon icon="fa-times-circle" class="red"></ons-icon></span>
     Module {{plpline.courseid}}:{{plpline.coursename}}
  </ons-card>  
  <!-- </ons-scroller>-->
   </ons-carousel-item> 
  </ons-carousel>  
 
</div>  