.headercard {color: white; background-color: var(--scoutpurple)}
.subhead {font-weight:600; margin: 0px;}
.background {background-color: var(--scoutteal)}
.green {color: var(--scoutgreen)}
.amber {color: var(--scoutyellow)}
.red {color: var(--scoutred)}
.indicators {font-size: 20pt; padding : 10px;}
.sticky {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.chevron {font-size: 18pt; padding : 10px;}