<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">My Training</div>
</ons-toolbar>
<div class="content training2">
   <div class="sticky"> 
  <div class="selector_bar">
    <div class="ticks">
      <ons-icon (click)="g2(-1)" class="chevron"  icon="fa-chevron-left"></ons-icon>
      <span  *ngFor="let role of globals.compassuser[0].roles; let i=index">
        <span *ngIf="i>0" (click)="g2(i)" class="indicators">○</span>
        <span *ngIf="i==0" (click)="g2(i)" class="indicators">●</span> 
      </span><ons-icon (click)="g2(-2)"  class="chevron" icon="fa-chevron-right"></ons-icon>
      </div>
  </div>
 </div>
  <ons-carousel  swipeable  overscrollable  auto-scroll id="carousel" #carousel>
<ons-carousel-item   *ngFor="let role of globals.compassuser[0].roles">
 <!--  <ons-scroller>-->
  <div class="hc"></div>
  <ons-card class="headercard">
    {{role.role}}
  </ons-card>  
  <ons-card>
   <p class="subhead">Wood Badge Training</p>
   <span *ngIf="plphead[role.roleid].percent!=100">Target Completion {{plphead[role.roleid].targetmonth}} {{plphead[role.roleid].targetyear}}</span>
   <span *ngIf="plphead[role.roleid].percent==100">Wood Badge awarded 
    {{plphead[role.roleid].completed}}</span>
   <div class="barbox">
   <div class="outer" class="backchart">&nbsp;</div>  
   <div id="barchart" [ngClass]="{'barchart_du':plphead[role.roleid].status=='du','barchart_od':plphead[role.roleid].status=='od','barchart_ok':plphead[role.roleid].status=='ok'}" class="barchart"  [style.width.%]="plphead[role.roleid].width" ></div><br>{{plphead[role.roleid].count}}/{{ globals.compassuser[0].training[role.roleid].length}} Modules Completed

   </div>
  </ons-card> 
  <ons-card *ngFor="let plpline of globals.compassuser[0].training[role.roleid]">
    <span *ngIf="plpline.validated_on!=''"> <ons-icon icon="fa-check-circle" class="green"></ons-icon></span>
  <span *ngIf="plpline.validated_on==''"> <ons-icon icon="fa-times-circle" class="red"></ons-icon></span>
     Module {{plpline.courseid}}:{{plpline.coursename}}
      <span *ngIf="plpline.validated_on!=''"><br>Validated {{plpline.validated_on}}</span>
  </ons-card>  
  <!-- </ons-scroller>-->
   </ons-carousel-item> 
  </ons-carousel>  
 
</div>  