.headercard {color: white; background-color: var(--scoutpurple)}
.subhead {font-weight:600; margin: 0px;}
.background {background-color: var(--scoutteal)}
.green {color: var(--scoutgreen)}
.amber {color: var(--scoutyellow)}
.red {color: var(--scoutred)}
.indicators {font-size: 20pt; padding : 10px;color: var(--scoutteal)}
.sticky {
  background: white;
  position: sticky;
  top: 0px;
  border-top-width: 10px;
  border-style: solid;
  border-color: var(--scoutteal);
  z-index: 9999;
}
.chevron {font-size: 18pt; padding : 10px;color: var(--scoutteal)}
.barchart {height: 10px; position:absolute;}
.barchart_ok {background: var(--scoutgreen);}
.barchart_od {background: var(--scoutred);}
.barchart_du {background: var(--scoutyellow);}
.backchart {background:grey; height: 10px; position:absolute;width:90%}
.barbox {margin-top: 10px;text-align: right;}
.ticks {text-align:center}
.selector_bar {margin-top:10px}