<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
 
	<div class="center" *ngIf="globals.compassuser[0].name==displayuser.name">My Training</div>
  <div class="center" *ngIf="globals.compassuser[0].name!=displayuser.name">{{displayuser.name.split(" ")[1]}}&nbsp;{{displayuser.name.split(" ")[2]}}</div>
 
</ons-toolbar>
<div class="content training2">
   <div class="sticky" *ngIf="displayuser.roles.length>1"> 
  <div class="selector_bar">
    <div class="ticks">
      <ons-icon (click)="g2(-1)" class="chevron"  icon="fa-chevron-left"></ons-icon>
      <span *ngIf="displayuser.roles.length < max_c">
      <span  *ngFor="let role of displayuser.roles; let i=index">
        <span *ngIf="i>0" (click)="g2(i)" class="indicators">○</span>
        <span *ngIf="i==0" (click)="g2(i)" class="indicators">●</span> 
      </span>
      </span>
      <span *ngIf="displayuser.roles.lengt  h > (max_c-1)">Role 
      {{carousel.getActiveIndex()+1}} of {{carousel.itemCount}}
      </span>
      <ons-icon (click)="g2(-2)"  class="chevron" icon="fa-chevron-right"></ons-icon>
      </div>
  </div>
 </div>
  <ons-carousel  swipeable  overscrollable  auto-scroll id="carousel" #carousel>
<ons-carousel-item   *ngFor="let role of displayuser.roles">
 <!--  <ons-scroller>-->
  <div class="hc"></div>
  <ons-card class="headercard">
    {{role.role}}<br>
    {{role.start}}
  </ons-card>  
  <ons-card class="alertcard" *ngIf="role.status=='Closed'">
  <ons-icon class="alertfont" icon="fa-info-circle"></ons-icon>&nbsp;This role is closed  </ons-card>  
  <ons-card *ngIf="role.status!='Closed'">
   <p *ngIf="plphead[role.roleid].percent!=100" class="subhead">Training</p>
   <p *ngIf="plphead[role.roleid].percent==100" class="subhead">Training Completed</p>
   <span *ngIf="plphead[role.roleid].percent!=100">Target Completion {{plphead[role.roleid].targetmonth}} {{plphead[role.roleid].targetyear}}</span>
   <span *ngIf="role.completed!=''">{{role.completed}}</span>
   <div class="barbox">
   <div class="outer" class="backchart">&nbsp;</div>  
   <div id="barchart" [ngClass]="{'barchart_du':plphead[role.roleid].status=='du','barchart_od':plphead[role.roleid].status=='od','barchart_ok':plphead[role.roleid].status=='ok'}" class="barchart"  [style.width.%]="plphead[role.roleid].width" ></div><br>{{plphead[role.roleid].count}}/{{ displayuser.training[role.roleid].length}} Modules Completed  

   </div>
  </ons-card> 
  <ons-card *ngIf="role.completed==''&&role.status!='Closed'">
    <span *ngIf="role.ta==''"> <ons-icon class="alertfont" icon="fa-exclamation-triangle" (click)="popoverta.show(button)"></ons-icon>&nbsp;You do not have a Training Advisor for this role</span>
    <span *ngIf="role.ta!=''">Your Training Advisor for this role is {{role.ta.split(" ")[1]}}&nbsp;{{role.ta.split(" ")[2]}}</span>
  </ons-card>
  
  <ons-card *ngFor="let plpline of displayuser.training[role.roleid]">
    <span *ngIf="plpline.validated_on!=''"> <ons-icon icon="fa-check-circle" class="green"></ons-icon></span>
  <span *ngIf="plpline.validated_on==''"> <ons-icon icon="fa-times-circle" class="red"></ons-icon></span>
     Module {{plpline.courseid}}:{{plpline.coursename}}
      <span *ngIf="plpline.validated_on!=''"><br>Validated {{plpline.validated_on}}</span>
  </ons-card>  
  <!-- </ons-scroller>-->
   </ons-carousel-item> 
  </ons-carousel>  
 
</div>  
 <ons-popover direction="up down" cancelable #popoverta (prehide)="onPreHide($event)">
    <div style="text-align: center; opacity: 0.7;">
      <p>This is popover.</p>
      <p><ons-button (click)="popover.hide()" modifier="light">Hide</ons-button></p>
    </div>
  </ons-popover>