<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Safety Cards</div>
</ons-toolbar>
<div class="content">
<ons-card>  
<div class="menugrid">
<div class="sg menubutton"><ons-icon class="menuiconblk" icon="fa-shield-alt"></ons-icon></div>
<div class="al menubutton"><ons-icon  class="menuicon" icon="fa-glass-cheers"></ons-icon></div>
<div class="sf menubutton"><ons-icon icon="fa-exclamation-triangle"  class="menuicon"></ons-icon></div>
<div class="sc menubutton"><ons-icon icon="fa-tasks"  class="menuicon"></ons-icon></div>
<div class="yl menubutton"><span  class="menuicon">YL</span></div>  
</div>  
</ons-card>

<ons-card>
</ons-card>  
</div>  