.background {background-color: var(--scoutteal)}
.sctcard { border: solid; padding: 10px}
.sg {background: var(--scoutyellow); color: black;}
.sf {background: var(--scoutpurple)}
.al {background: var(--scoutgreen)}
.yl {background: orange; color: black}
.sc {background: grey; color: black}
.mh {font-size: 1.5em; font-weight: 600}
.sh {font-size: 1.2em; font-weight: 600}
.bx {display: block; border-style: solid; padding: 10px}
.bd {font-weight: 600}
.bl { display: list-item;        
    list-style-type: disc;      
    list-style-position: outside;margin-left:10px}
.y {background-color: var(--scoutyellow)}
.g {background-color: var(--scoutgreen)}
.p {background-color: var(--scoutpurple)}
.o {background-color: orange}
.menubutton { border-radius: 10%; line-height: 50px; height: 50px; width:50px; text-align: center; margin-right: 10px; margin-bottom: 10px; }
.menuicon {color:white;font-size: 1.5em;}
.menuiconblk {color:black;font-size: 1.5em;}
.menugrid {display:flex;flex-wrap: wrap}