.subhead {font-weight:600; margin: 0px;}
.background {background-color: var(--scoutteal)}
.headercard {color: white; background-color: var(--scoutpurple)}
.level {border:solid; margin-bottom: 20px;padding: 20px;}
.levelflex 
.levelbutton { background-color: var(--scoutdarkblue); border-radius: 10%; line-height: 50px; height: 50px;  width:50px; text-align: center; margin-right: 10px; margin-bottom: 10px; }
.levelicon {color:white;font-size: 1.5em;}