<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Role Hierarchies</div>
</ons-toolbar>
<div class="content">
  <ons-carousel  swipeable  overscrollable  auto-scroll id="carousel" #carousel>
    <ons-carousel-item   *ngFor="let role of displayuser.roles">
  <ons-card class="headercard"><p class="subhead">{{role.role}}<br>{{role.location}}</p> </ons-card>
  <ons-card >
  <span  *ngFor="let level of displayuser.roledetail[role.roleid][0]">
   
    <div class="level" *ngIf="(level[0].indexOf('ctl00_workarea_cbo_p1_location_')==0)">
    <span *ngIf='(level[2]!="--- No Items Available ---"&&level[2]}!="--- No Role Selected ---")'>  
      <div class="levelflex">
      <div  class="levelbutton"><ons-icon [attr.icon]="level.icon" class="levelicon"></ons-icon></div>
    <div ><p class="subhead">{{level[2]}}</p>  
    </div>
    </div>
    </span>
    </div>
    
    </span>  
  </ons-card>  
    </ons-carousel-item>
  </ons-carousel>
  </div>