<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">My Permits</div>
</ons-toolbar>
<div class="content">
  
  <app-roleheader [role]="selected_role"></app-roleheader>
  <span *ngFor="let o of outer">
  <span *ngFor="let permit of permits">
 
  <ons-card *ngIf="(!permit.expired&&o=='V')||(permit.expired&&o=='E')">
   <div class="permitgrid"><div [ngClass]="{'g':!permit.expired,'r':permit.expired}" class="permitbutton"><ons-icon [attr.icon]="permit.icon" class="permiticon"></ons-icon></div>
   <div><span  class="subhead">{{permit.activity}}&nbsp;({{permit.category}})</span><br>
   <span *ngIf="permit.expired">Expired on</span><span *ngIf="!permit.expired">Expires on</span>&nbsp;{{permit.expires}}
   </div></div> <div *ngIf="permit.restrictions!=''"><span class="subhead">Restrictions</span><br>{{permit.restrictions}}</div>
  </ons-card>
  </span>  
  </span>
  </div>