.dashboard {font-size: 1.5em; padding-right: 10px}
.subhead {font-weight:600; margin: 0px;}
.green {color: var(--scoutgreen)}
.amber {color: var(--scoutyellow)}
.red {color: var(--scoutred)}
.barchart {height: 10px; position:absolute;}
.barchart_ok {background: var(--scoutgreen);}
.barchart_od {background: var(--scoutred);}
.barchart_du {background: var(--scoutyellow);}
.backchart {background:grey; height: 10px; position:absolute;width:90%}
.barbox {margin-top: 10px;text-align: right;}
.background {background-color: var(--scoutteal)}
.headercard {color: white; background-color: var(--scoutpurple)}
.mandatoryh {color:white; background-color:black;}
.mandatory {color:black; background-color:white;}
.menubutton { border-radius: 10%; background-color: var(--scoutdarkblue); line-height: 50px; height: 50px; width:50px; text-align: center; margin-right: 10px; margin-bottom: 10px; }
.menuicon {color:white;font-size: 1.5em;}
.menugrid {display:flex;flex-wrap: wrap}

.pulse {animation: pulse 2s  }
.pulsered {animation: pulsered 2s infinite }
@keyframes pulsered {
	0% {
		transform: scale(0.7);
	}

 
70% {
		transform: scale(1);
	 
	}
   
	100% {
		transform: scale(0.7);
	 
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.5);
	 
	}

	 
70% {
		transform: scale(1);
	 
	}
  90% {
		transform: scale(1.1);
	 
	}
	100% {
		transform: scale(1);
	 
	}
}
.bookmark_head {display:flex;justify-content: space-between}
.bookbutton {padding-left: 10px; padding-right: 10px}