
<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">My Leadership</div>
</ons-toolbar>
<div class="content">
  
  <ons-card class="headercard"><p class="subhead">{{selected_role.title}}<br>{{selected_role.location}}</p>since {{selected_role.datefrom.substring(0,4)}}</ons-card>
  <ons-card class="mandatory">
  <p class="subhead">Mandatory Training&nbsp;
  <ons-icon icon="fa-exclamation-triangle" class="dashboard" [ngClass]="{'amber pulse':status=='du','red plusered':status=='od','green':status=='ok'}"></ons-icon>
 
  <ons-icon icon="fa-shield-alt" class="dashboard" [ngClass]="{'amber pulse':status=='du','red plusered':status=='od','green':status=='ok'}"></ons-icon>
    
  <ons-icon icon="fa-briefcase" class="dashboard" [ngClass]="{'amber pulse':status=='du','red plusered':status=='od','green':status=='ok'}"></ons-icon>

  <ons-icon icon="fa-comment-medical" class="dashboard green"></ons-icon></p>
  </ons-card > 
  <ons-card class="menugrid">
   
  <div (click)="push()" class="menubutton"><ons-icon class="menuicon" icon="fa-chalkboard-teacher"></ons-icon></div>&nbsp;
  <div (click)="push()" class="menubutton"><ons-icon class="far menuicon" icon="fa-thumbs-up"></ons-icon></div>&nbsp;
  <div (click)="push()" class="menubutton"><ons-icon class="far menuicon" icon="fa-map"></ons-icon></div>
  </ons-card>
  <!--
  <ons-card>
   <p class="subhead">Wood Badge Training</p>
   <span *ngIf="this.percent!=100">Target Completion {{targetmonth}} {{targetyear}}</span>
   <span *ngIf="this.percent==100">Wood Badge awarded {{this.selected_role.completiondate.substring(0,4)}}</span>  
   <div class="barbox">
   <div class="outer" class="backchart">&nbsp;</div>  
   <div id="barchart" [ngClass]="{'barchart_du':status=='du','barchart_od':status=='od','barchart_ok':status=='ok'}" class="barchart"  [style.width.%]="width"  ></div><br>{{count}}/{{ plp.length}} Modules Completed

   </div>
  </ons-card> 
  <ons-card *ngIf="selected_role.hasOwnProperty('ta_name')&&selected_role.ta_name!=''">
  My Training Advisor is {{selected_role.ta_name}}  
  </ons-card>  
  <ons-card *ngFor="let plpline of plp"><span *ngIf="plpline.hasOwnProperty('validatedDate')"> <ons-icon icon="fa-check-circle" class="green"></ons-icon></span>
  <span *ngIf="!plpline.hasOwnProperty('validatedDate')"> <ons-icon icon="fa-times-circle" class="red"></ons-icon></span>
     Module {{plpline.code}}:{{plpline.name}}<br> 
     <span *ngIf="plpline.hasOwnProperty('validatedDate')">{{plpline.validatedDate}}</span>
  </ons-card>
	<ons-list>
		<ons-list-header>Tappable / Ripple</ons-list-header>
		<ons-list-item tappable><ons-icon icon="fa-chalkboard-teacher"></ons-icon>&nbsp;My Training</ons-list-item>

		<ons-list-header>Chevron</ons-list-header>
		<ons-list-item modifier="chevron" tappable (click)="push()">Chevron</ons-list-item>
	</ons-list>-->

	<br />
    </div>