
<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Homepage</div>
</ons-toolbar>
<div class="content">
  <app-roleheader  [role]="selected_role"></app-roleheader>
  <span *ngIf="globals.compassuser.length>0"> 
  <app-mandatoryheader  [user]="{user:globals.compassuser, click:true}"></app-mandatoryheader> 
  <ons-card >
  <div class="subhead">My Details</div><br>  
  <div class="menugrid">  
  <div (click)="push6()" class="menubutton"><ons-icon class="menuicon" icon="fa-chalkboard-teacher"></ons-icon></div>
  <div (click)="push2()" class="menubutton"><ons-icon class="far menuicon" icon="fa-thumbs-up"></ons-icon></div>
  <div (click)="push4()" class="menubutton"><ons-icon class="menuicon" icon="fa-id-card"></ons-icon></div>
 
   
    <div (click)="push5()" class="menubutton"><ons-icon class="menuicon" icon="fa-sitemap"></ons-icon></div>
      <div (click)="push9()" class="menubutton"><ons-icon class="far menuicon" icon="fa-id-badge"></ons-icon></div>
  </div> 
  </ons-card>
  <ons-card >
  <div class="subhead">My Role</div><br>
  <div class="menugrid">  
  
  <div (click)="push8()" class="menubutton"><ons-icon class="far menuicon" icon="fa-address-book"></ons-icon></div>
   <div (click)="push3()" class="menubutton"><ons-icon class="far menuicon" icon="fa-map"></ons-icon></div>
   <div (click)="push10()" class="menubutton"><ons-icon class="far menuicon" icon="fa-file-alt"></ons-icon></div>
  </div>
  
  </ons-card>
  <ons-card *ngIf="bookmarks.length>0">
  <div class="subhead">Bookmarked Members</div><br>
  <ons-list>
  <ons-list-item *ngFor="let contact of bookmarks" (click)="push7(contact.userid)">
  <span class="left"></span>
  <span class="list-item__title">{{contact.name}}</span>  
  </ons-list-item>    
  </ons-list>    
  </ons-card>  
  </span>
 
    </div>
  <ons-modal  id="menu_modal">
      <ons-icon class="far" icon="fa-compass" spin="true" size="80px"></ons-icon>  
    <p>{{modal1}}</p>
    <p>{{modal2}}</p> 
  </ons-modal>