<div class="background"></div>
<ons-toolbar>
  <div class="left">
    <ons-back-button></ons-back-button>
  </div>
  <div class="center">My Roles</div>
</ons-toolbar>
<div class="content">
  <span *ngIf="globals.compassuser.length!=0">
  <ons-card class="closedcard">
   Hello {{globals.compassuser[0].name.split(" ")[1]}}<br>Which role do you want to use for accessing Compass
  </ons-card>  
  
  <span *ngFor="let role of rolelist" >
  <ons-card (click)="select_role(role)">
  <span class="active">{{role.role}}</span> 
  </ons-card>
  </span>
  </span>  
</div>
  <ons-modal  id="modal2">
    <ons-icon icon="fa-compass" spin="true" size="80px"></ons-icon>
    <p>Getting data about your Role</p>
  </ons-modal>