<div class="background"></div>
<ons-toolbar>
  <div class="left">
    <ons-back-button></ons-back-button>
  </div>
  <div class="center">My Roles</div>
</ons-toolbar>
<div class="content">
  <span *ngIf="globals.compassdata.length!=0">
  <ons-card class="closedcard">
   Hello {{globals.compassdata[0].name.split(" ")[1]}}<br>Which role do you want to use for accessing Compa
  </ons-card>  
  
  <span *ngFor="let role of globals.compassdata[0].roles" >
  <ons-card (click)="select_role(role)" >
  <span class="active">{{role.roledescription}}</span> 
  </ons-card>
  </span>
  </span>  
</div>
  <ons-modal  id="modal2">
    <ons-icon icon="fa-spinner" spin="true" size="80px"></ons-icon>
    <p>Getting your data</p>
  </ons-modal>