<div class="background"></div>
<ons-toolbar>
  <div class="left">
    <ons-back-button></ons-back-button>
  </div>
  <div class="center">My Roles</div>
</ons-toolbar>
<div class="content">
  <!--<ons-button (click)="pop()">Pop page</ons-button>-->
  <span *ngFor="let role of globals.compassdata.object.roles" >
  <ons-card *ngIf="role.status!='Closed'"(click)="select_role(role)" >
  <span class="active">{{role.title}}</span>
  </ons-card>
  </span>
   <span  *ngFor="let role of globals.compassdata.object.roles" >
  <ons-card class="closedcard" *ngIf="role.status=='Closed'" (click)="select_role(role)" >
  <span class="closed">{{role.title}}</span>
  </ons-card>
  </span>
</div>