 
.subhead {font-weight:600; margin: 0px;}
.green {color: var(--scoutgreen)}
.amber {color: var(--scoutyellow)}
.red {color: var(--scoutred)}
.background {background-color: var(--scoutteal)}
.headercard {color: white; background-color: var(--scoutpurple)}
 
.sticky {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.show { display: flex}
.hidden { display: none}