
<div class="background"></div>
<ons-toolbar>
  <div class="left"><ons-back-button> </ons-back-button></div>
	<div class="center">Contact List</div>
</ons-toolbar>
<div class="content">
   <div class="sticky" > 
  <div class="selector_bar">
      <ons-search-input id="text" placeholder="Global Search " [(value)]="namefilter" (keyup)="update_search($event)" style="width:100%" ></ons-search-input>
  </div>
 </div>
  <ons-list >
    <ons-list-item (click)="goto_card(contact.contact_number})" id="{{contact.contact_number}}"  class="show" *ngFor="let contact of globals.last_directory[0]">
    <span class="list-item__title">{{contact.name}}</span><span class="list-item__subtitle">{{contact.role}}<br>{{contact.location}}</span>
   
   </ons-list-item>
  </ons-list> 
   
	
 
    </div>